.App{
    display: flex;
    justify-content: center;
    background: #ddd;
    height: 100vh;
}

.content-container{
    width: 600px;
    max-width: 100%;
}

.task-list-header{
    display: flex;
    justify-content: space-between;
}