@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"]{
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  height: 30px;
  font-size: 16px;
  border: unset;
  outline: unset;
}

button{
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  color: gray;
  border: unset;
  outline: unset;
  cursor: pointer;
  background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
